@charset "utf-8";

a {
    display: block;
}

body {
    background: #efefef;
}



/*header시작*/

#header {
    width: 100%;
    margin: 0 auto;
}



/*로고*/

.logo_wrap {
    width: 100%;
    height: 90px;
    background: url(../images/hdimg.jpg);
}

.logo {
    width: 980px;
    height: 90px;
    margin: 0 auto;
}

.logo>ul {
    overflow: hidden;
    position: relative;
}

.logo>ul>li {
    float: left;
}

.main_logo {
    height: 90px;
    line-height: 120px;
    padding-right: 140px;
}



/*서치바*/

.search {
    width: 290px;
    height: 30px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
}

.search_text {
    padding: 0 15px;
    padding-top: 6px;
    float: left;
    font-size: 14px;
    font-weight: 800;
}

.search_icon {
    float: right;
    padding-top: 6px;
    padding-right: 10px;
}

.search_box {
    border: none;
    position: absolute;
    padding: 7px 0px;
    width: 160px;
}



/*전화번호,SNS*/

.header_sns {
    position: absolute;
    right: 0;
    top: 28px;
    overflow: hidden;
    box-sizing: border-box;
}

.number {
    float: left;
    font-size: 1.5em;
    font-weight: 800;
    color: white;
    margin-right: 125px;
    margin-top: 2px;
}

.sns_img {
    position: absolute;
    margin-top: 5px;
    right: 0
}



/*메뉴*/

.menu_wrap {
    width: 100%;
    height: 60px;
    background: url(../images/menubg.jpg);
    border-bottom: 5px solid #0f73a7;
}

.menu {
    width: 980px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
}

.menu>ul {
    overflow: hidden;
}

.menu>ul>li {
    float: left;
    width: 161.3px;
    height: 60px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.menu>ul>li>a {
    display: block;
    text-align: center;
    font-weight: 800;
    transition-duration: 0.3s;
    font-size: 18px;
}

.menu>ul>li>a:hover {
    color: #0763a2;
}

.sub {
    width: 100%;
    height: 35px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 155px;
    left: 0;
}

.sub_menu0 {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

.sub_menu {
    overflow: hidden;
    margin-top: -14px;
    position: absolute;
    right: 0;
}

.sub_menu>li {
    float: left;
    padding: 0 20px;
}

.sub_menu>li>a {
    display: block;
    font-size: 14px;
    color: #E4E4E4;
    font-weight: bold;
}

.sub_menu>li>a:hover {
    color: white;
    transition-duration: 0.3s
}

.sub_menu>li:first-child a {
    color: white;
}


/*header끝*/

#article {
    width: 100%;
    margin: 0 auto;
}

.article_bg1 {
    width: 100%;
    height: 295px;
    background: url(../images/subbg.jpg);
    background-size: cover;
}

.article_bg1_box {
    width: 980px;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
    color: white;
    position: relative;
}

.article_bg1_box>h1 {
    font-size: 4.5em;
}

.article_bg1_box>h1:after {
    content: "";
    border: 4px solid #fff;
    width: 400px;
    position: absolute;
    right: 285px;
    top: 165px;
}

.article_bg1_box>span {
    font-size: 16px;
}

.article_box {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

.article_box2 {
    width: 980px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #ddd;
    top: -50px;
    position: absolute;
    border-top: 5px solid #0e73a7;
    border-bottom: 5px solid #0e73a7;
    overflow: hidden;
    box-sizing: border-box;
}

.boxes01 {
    width: 490px;
    float: left;
    padding: 60px 0px;
    padding-left: 50px;
    text-align: justify;
    box-sizing: border-box;
}

.boxes01>h1 {
    font-size: 2em;
    letter-spacing: -1.5px
}

.boxes01>table {
    width: 440px;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #006599;
    font-size: 14px;
    color: #747474
}

.boxes02 {
    width: 490px;
    float: right;
    padding: 60px 30px;
    box-sizing: border-box;
    position: relative;
}

.boxes02>span {
    position: absolute;
    right: 60px;
    font-size: 12px;
    font-weight: bold;
}

.boxes03 {
    clear: both;
    content: "";
    display: block;
    width: 980px;
    margin: 0 auto;
}

.boxes03>ul {
    overflow: hidden;
}

.boxes03>ul>li {
    float: left;
    width: 200px;
    height: 215px;
    margin-right: 25px;
    margin-bottom: 50px;
}

.boxes03>ul>li:first-child {
    margin-left: 50px;
    background-image: url(../images/france01.jpg);
}

.boxes03>ul>li:first-child h1 {
    margin: 15px 20px;
    color: #fff;
}

.boxes03>ul>li:nth-child(2) {
    background-image: url(../images/uk.jpg);
}

.boxes03>ul>li:nth-child(2) h1 {
    margin: 15px 20px;
    color: #fff;
}

.boxes03>ul>li:nth-child(3) {
    background-image: url(../images/swiss.jpg);
    background-position: center;
}

.boxes03>ul>li:nth-child(3) h1 {
    margin: 140px 20px;
    color: #fff;
}

.boxes03>ul>li:last-child {
    background: url(../images/belgium.jpg) center;
}

.boxes03>ul>li:last-child h1 {
    margin: 15px 75px;
    color: #fff;
}